@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

html, body, main {
  min-height: 100%;
  margin: 0;
}

.bg {
  position: fixed; /* отключает влияние на поток */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: repeating-radial-gradient(
      circle at 0 0,
      transparent 0,
      #e5e5f7 150px
    ),
    repeating-linear-gradient(#ffb5b58a, #ffb8b8);
}

body {
      font-family: 'Caveat', cursive;
}



.timeline-container {
      position: relative;
      width: 80%;
      margin: 4em auto;
      top: 15vw;
    }

    .timeline-line {
      position: relative;
      height: 20px;
      background-color: #999;
      border-radius: 20px;
    }


    .timeline-points {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: -3px;
      left: 0;
      right: 0;
    }

    .timeline-points label {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      position: relative;
      font-size: 36px;
    }

    .timeline-points input[type="radio"] {
      appearance: none;
      width: 20px;
      height: 20px;
      border: 2px solid #bf2e2e;
      border-radius: 50%;
      background: #fff;
      transition: background 0.3s, border-color 0.3s;
    }

    .timeline-points input[type="radio"]:checked {
      background: #fa0505;
      border-color: #bf2e2e;
    }

    .timeline-points span {
      margin-top: 0.4em;
      font-size: 0.9em;
}

input[type="radio"]:hover {
  border-color: #007bff;
}

input[type="radio"]:focus-visible {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}



h1 {
  font-size: 3vw;
  color: black;
  z-index: 99;
  position: relative;
  text-align: center;
}

.info-box {
  display: none; /* по умолчанию скрыто */
  margin: 2em auto;
  padding: 1em;
  max-width: 80%;
  background: #fff;
  border: 2px solid #007bff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  z-index: 1;
}

.info-box img {
  max-width: 100%;
  border-radius: 8px;
}

.info-box button {
  float: right;
  margin: -10px -10px 10px 10px;
  padding: 0.3em 0.6em;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}